body{
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
header{
  margin-top: 60px;
  margin-bottom: 150px;
}
.wrapper{
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.logo{
  width: 12%;
  display: inline-block;
}
.logo img{
  max-width: 100%;
  margin-top: 15px;
}
.menu-section{
  overflow: hidden;
  float: right;
  width: 87%;
}
.menu{
  width: 70%;
  display: inline-block;
}
.menu nav{}
.menu ul{
  overflow: hidden;
}
.menu ul li{
  float: left;
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  padding-right: 25px;
  color: #292640;
  font-weight: 700;
  font-size: 12px;
}
.button-section{
  overflow: hidden;
  float: right;
  width: 28%;
}
.button{
  float: right;
  background-color: #FF6162;
  padding: 15px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 12px;
}



h1{
  color: seagreen;
}
h2{
  color: blue;
}